
  .btn-search{
    background-color: #fe424d;
    color: white;
    border-radius: 25px;
    padding: 0 1rem 0 1rem;
  }
  .btn-search:hover{
    background-color: #fe424d;
    color: white;
  }
  .btn-search i {
    display: inline;
    margin-right: 0.5rem;
  }
  .suggestions {
      border: 1px solid #ddd;
      max-height: 200px;
      overflow-y: auto;
      position: absolute;

     top: 100%;   /* : This means that the .suggestions box will be placed such that its top edge is 100% of the height of the navbar-nav <div> below the top of the navbar-nav <div>. Essentially, the .suggestions box will appear directly below the navbar-nav <div> */
     
      background: rgb(255, 254, 254);
      width: 50%;
      

      display: none;
      transform: translateX(-25%);
      font-weight: bolder;
     
    }
    .suggestion-item {
      padding: 8px;
      cursor: pointer;
    }
    .suggestion-item:hover {
      background: #f0f0f0;
    }
  

/* Optionally, adjust the position of the suggestions dropdown for better visibility */


